parameters:
    checkMissingIterableValueType: false

    level: 6
    paths:
        - src

    ignoreErrors:
        # Ignore typehint errors on api classes
        -
            message: '#Method (.*) with no typehint specified\.#'
            path: src
        -
            message: '#Method (.*) has no return typehint specified\.#'
            path: src